<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.follower.count, following_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followed.count, followers_user_path(user) %></th>
  </tr>
</table>
　
<div class='row'>
  <% if user == current_user %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block mt-n4" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: "btn btn-info mt-n4" %>
      <% if user.following?(current_user) %>
        <%= link_to 'chatを始める', chat_path(user.id), class: "mt-n3 ml-3" %>
      <% end %>
    <% else %>
      <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-success mt-n4" %>
    <% end %>
  <% end %>
</div>