<table class="table">
  <h2>Books search for "<%= params[:search_word] %>"</h2>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image, size:'50x50' %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
          <td><%= link_to book.tag, search_book_path(search_word: book.tag) %></td>
          <td id="favorite_btn_<%= book.id %>">
            <%= render 'favorites/favorite-btn', book: book %>
          </td>
          <td id="comments_count">
            <%= render 'book_comments/comments_count', book: book %>
          </td>
          <td>
            <%= render 'books/rate', book: book %>
          </td>
          <td>
            <span>閲覧数: <%= book.impressions_count %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>